// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
ion-content {
    --background: white;
    color: black;
}

// Estilização do main
.main {
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
}

@media (width < 920px) {
    .main {
        margin-left: 120px;
        transition: margin 0.4s;
    }
}