// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --font-family: "JetBrains Mono";
}

ion-content {
    --background: white;
    color: black;
    font-family: var(--font-family);
}

ion-button {
    font-family: var(--font-family);
}

// Estilização do main
.main {
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
}

@media (width < 920px) {
    .main {
        margin-left: 120px;
        transition: margin 0.4s;
    }
}