<ion-content>
  <!-- Sidemenu -->
  <app-sidemenu></app-sidemenu>
  <!-- Conteúdo da página abaixo -->
  <main class="main">
    <h1>Fotografando Olhares | Pacientes</h1>
    <section>
      <ion-card>
        <ion-card-title>
          <ion-searchbar placeholder="Buscar pacientes..." [(ngModel)]="termo_pesquisa" (ionInput)="FilterPacientes()" animated="true"></ion-searchbar>
          <ion-buttons>
            <ion-button (click)="AbrirModal()">
              <span>
                <span><i class="material-symbols-outlined">add</i></span>
                <span>Novo paciente</span>
              </span>
            </ion-button>
          </ion-buttons>
        </ion-card-title>
        <ion-card-content>
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>CPF</th>
                <th>CNS</th>
                <th>Data de Nascimento</th>
                <th>Remédios</th>
                <th>Insulina</th>
                <th>Tabagista</th>
                <th>Último Exame</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pacientes_filtrados">
                <td>{{item.id}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.sexo}}</td>
                <td>{{item.cpf}}</td>
                <td>{{item.cns}}</td>
                <td>{{item.data_nascimento}}</td>
                <td class="texto-cortado">{{item.remedios}}</td>
                <td>{{item.insulina}}</td>
                <td>{{item.tabagista}}</td>
                <td>{{item.ultimo_exame}}</td>
              </tr>
            </tbody>
          </table>
          <!-- Mensagem quando não houver resultados -->
          <div *ngIf="pacientes_filtrados.length === 0" class="ion-text-center ion-padding">
            <p>Nenhum paciente encontrado.</p>
          </div>
        </ion-card-content>
      </ion-card>
    </section>
  </main>
</ion-content>