<ion-content>
  <!-- Sidemenu -->
  <app-sidemenu></app-sidemenu>
  <!-- Conteúdo da página abaixo -->
  <main class="main">
    <h1>Fotografando Olhares | Laudos</h1>
    <section id="funcionalidades">
      <ion-card>
        <ion-card-title>
          <ion-searchbar placeholder="Buscar paciente..." [(ngModel)]="termo_pesquisa" (ionInput)="FilterLaudos()" animated="true"></ion-searchbar>
          <!-- Botões -->
          <ion-buttons>
            <ion-button (click)="AbrirModal()">
              <span>
                <span><i class="material-symbols-outlined">add</i></span>
                <span>Novo laudo</span>
              </span>
            </ion-button>
          </ion-buttons>
        </ion-card-title>
        <ion-card-content>
          <!-- Tabela de laudos -->
          <div class="tabela-container">
             <table>
              <thead>
                <tr>
                  <th>Id Laudo</th>
                  <th>Paciente</th>
                  <th>Responsável</th>
                  <th>Data do Preenchimento</th>
                  <th>Resultado</th>
                  <th>Descrição</th>
                  <th>Outras Alterações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of laudos">
                  <td>{{item.id}}</td>
                  <td>{{PacienteName(item.id_paciente)}}</td>
                  <td>{{item.nome_responsavel}}</td>
                  <td>{{item.data_preenchimento}}</td>
                  <td>{{item.resultado_laudo}}</td>
                  <td class="texto-cortado">{{item.descricao}}</td>
                  <td>{{item.outras_alteracoes}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="laudos.length === 0" class="ion-text-center ion-padding">
            <p>Nenhum laudo encontrado.</p>
          </div>
        </ion-card-content>
      </ion-card>
    </section>
  </main>
</ion-content>